@font-face {
   font-family: 'KOMIKAX_';
   src: url('KOMIKAX_/font.ttf');
}
@font-face {
   font-family: 'KGHAPPY';
   src: url('KGHAPPY/font.ttf');
}
@font-face {
   font-family: 'ObelixProB-cyr';
   src: url('ObelixProB-cyr/font.ttf');
}
